<section class="single-artists">  
    <div class="artists">
        <?php foreach($bands as $band):?>
            <div class="artist">
                <div class="image">
                    <img src="/resources/img/<?= $band->image ?>" alt="Image">
                </div>
                <div class="inner-artist">
                    <h3><?= $band->name ?></h3>
                    <div class="followers">
                        <?= $band->followers ?> Followers
                    </div>
                    <a href="/music/id/<?=$band->id ?>">FIND OUT MORE</a>
                </div>
            </div>
        <?php endforeach; ?>
        
    </div>

</section>