<div class="content">
        <section id="hero">
            <div class="player">
                <div class="progress-bar">
                    <div id="progress" class="bar"></div>
                </div>
                <div class="play">
                    <img id="play" src="/resources/img/play.png" alt="">
                </div>
            </div>
            <img src="/resources/img/bg.png" alt="image">
            <div class="top-right">
                <ul>
                    <?php 
                    $selected=false; 
                    
                    foreach($music as $song): ?>
                        <li class="music-listing <?= !$selected ? "selected" : "" ?>">
                        <div class="title">
                            <?= $song->title ?>

                        </div>
                            <input class="song" type="hidden" value="/resources/music/<?= $song->file ?>">
                        </li>
                        <?php $selected = true; ?>
                    <?php endforeach; ?>
                        <audio id="audio" src=""></audio>
                </ul>
            </div>
            <div class="hero-center">
                <h1>INNATE STUDIOS</h1>
                <p>Feel the rythm flow</p>
            </div>
            
        </section>
        <section class="popular-artists" style="background: url('/resources/img/bg2.png');">
            <h1>Popular Artists Right Now</h1>
            <div>    
                <div class="artists">
                    <?php
                    foreach($artists as $artist):  ?>
                        <div class="artist">
                            <div class="image">
                                <img src="/resources/img/<?= $artist->pfp ?>" alt="Image">
                            </div>
                            <div class="inner-artist">
                                <h3><?= $artist->name ?> (<?= $artist->age ?>)</h3>
                                <div class="followers">
                                    <?= $artist->followers ?> Followers
                                </div>
                                <a href="/artists/id/<?= $artist->id ?>">FIND OUT MORE</a>
                            </div>
                        </div>
                    <?php endforeach; ?>
                    
                </div>
                <div class="button">
                    <a href="/artists">FIND MORE ARTISTS</a>
                </div>
            </div>
        </section>
        <section class="popular-songs">
            <h1>
                <ul>
                    <li><a href="#">Popular this week</a></li>
                    <li><a href="#">Following</a></li>
                    <li><a href="#">Biggest Hits</a></li>
                </ul>
            </h1>
            <div class="songs">
                <?php foreach($music as $song):?>
                    <div class="song">
                        <div class="image">
                            <img src="/resources/img/<?= $song->background ?>" alt="Image">
                        </div>
                        <div class="inner-artist">
                            <h3><?= $song->title ?></h3>
                            <div class="followers">
                                <?= $song->likes ?> Likes
                            </div>
                            <a href="/music/id/<?=$song->id ?>">FIND OUT MORE</a>
                        </div>
                    </div>
                <?php endforeach; ?>
                
            </div>
        </section>
    </div>
