@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.c2a {
  background-color: #CC6467;
  color: #f0f0f0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 7.3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 39px;
}

nav #logo {
  margin-left: 0;
  margin-right: auto;
  height: 69px;
}

nav #logo img {
  display: block;
  height: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 109px;
  text-decoration: none;
  color: #2C3638;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
}

nav ul li a.c2a {
  border-radius: 16px;
  width: 150px;
  height: 40px;
}

@-webkit-keyframes slide_login {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@keyframes slide_login {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

footer {
  background-color: #333;
  width: 100%;
  color: #f0f0f0;
  text-align: center;
}

.background-login {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-login .text div {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 7em;
  line-height: .75em;
  color: #CC6467;
  letter-spacing: 0;
  word-break: break-all;
  opacity: .4;
  text-align: justify;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-animation: slide_login 550s infinite linear forwards;
          animation: slide_login 550s infinite linear forwards;
  white-space: nowrap;
}

.background-login .text div span {
  font-family: "Poppins";
  font-weight: 700;
  color: #2C3638;
}

footer {
  position: absolute;
  bottom: 0;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.login form {
  background-color: #2C3638;
  padding: 20px;
  width: 20%;
  color: #f0f0f0;
}

.login form h1 {
  width: 5ch;
  position: relative;
  margin-bottom: 20px;
}

.login form h1::after {
  content: '';
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 4px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.login form label {
  display: block;
}

.login form .field {
  padding-top: 12px;
}

.login form input {
  display: block;
  border: 0;
  padding: 10px 15px;
  outline: none;
  width: 100%;
}

.login form input[type="submit"] {
  color: #f0f0f0;
  background-color: #CC6467;
  width: 100px;
  cursor: pointer;
  margin-left: auto;
}

.login form input[type="submit"]:hover {
  background-color: #962024;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.content {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0px 7.3%;
  padding-top: 108px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #d9d9d99e;
}

.content .back-text {
  left: 30%;
  overflow: hidden;
  max-width: 70%;
}

.content .back-text .scroll-text {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .back-text .scroll-text h1 {
  font-size: 275px;
  z-index: -1;
  white-space: nowrap;
  font-family: "Poppins";
  text-transform: uppercase;
  color: #2C3638;
  opacity: 0.15;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: slide 10s linear infinite;
          animation: slide 10s linear infinite;
  color: #2C3638;
}

.content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100vh - 108px);
}

.content .row section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.content .row section .name {
  padding-left: 35px;
  position: relative;
  -webkit-transform: translateY(-108px);
          transform: translateY(-108px);
}

.content .row section .name h1 {
  font-size: 84px;
  color: #f0f0f0;
  font-family: "Poppins",sans-serif !important;
  line-height: 1em;
}

.content .row section .name h1::before {
  content: '';
  height: 1.8em;
  width: 5px;
  background: #CC6467;
  display: block;
  position: absolute;
  left: 0;
  top: 0.1em;
}

.content .row section .name p {
  margin-top: 42px;
  font-size: 31px;
  color: #f0f0f0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.content .row section .name p b {
  color: #CC6467;
  font-family: "Poppins", sans-serif;
}

.content .content-right {
  margin-right: 0;
  margin-left: auto;
}

.content .content-right h1 {
  text-align: right;
  font-size: 29px;
  font-weight: 700;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.content .content-right h1::after {
  content: '';
  display: block;
  width: 60%;
  height: 5px;
  background: #2C3638;
  right: 0;
  bottom: -10px;
  border-radius: 10px;
  position: absolute;
}

.content .content-right h1::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background: #2C3638;
  right: 65%;
  bottom: -10px;
  border-radius: 10px;
  position: absolute;
}

.content .content-right .news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  padding-top: 45px;
}

.content .content-right .news .post {
  border-radius: 20px;
}

.content .content-right .news .post .cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 23px;
}

.content .content-right .news .post .cover .bottom {
  color: #f0f0f0;
  text-align: center;
}

.content .content-right .news .post .cover .bottom h3 {
  font-size: 19px;
}

.content .content-right .news .post .cover .bottom span {
  color: #CC6467;
  font-weight: 700;
}

.content .content-right .news .post:first-child {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  height: 255px;
  width: 361px;
}

.content .content-right .news .post:first-child .cover {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content .content-right .news .post:first-child .cover .bottom {
  height: 30%;
  width: 100%;
  padding: 0 28px;
  color: #f0f0f0;
  text-align: left;
}

.content .content-right .news .post:first-child .cover .bottom h3 {
  font-size: 26px;
  font-weight: 400;
}

.content .content-right .news .post:first-child .cover .bottom .bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content-right .news .post:first-child .cover .bottom .bottom-inner > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.content .content-right .news .post:first-child .cover .bottom .bottom-inner .date {
  text-align: right;
}

.content .content-right .news .post:nth-child(2) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  width: 192px;
}

.content .content-right .news .post:nth-child(3) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  width: 192px;
}

.content .content-right .music {
  height: 50vh;
  position: relative;
  z-index: 99;
}

.content .content-right .music ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 100px;
  height: 30%;
  margin-bottom: 20%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
}

.content .content-right .music ul li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
  font-size: 17px;
  color: #2c3638a3;
  text-transform: capitalize;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.content .content-right .music ul li.selected {
  color: #2C3638;
  font-weight: 700;
}

.content .content-right .music ul li .title {
  padding-right: 20px;
}

.content .content-right .music ul li .time {
  padding-left: 20px;
}

.content .content-right .music ul li::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #2C3638;
  margin: 0px auto;
  position: absolute;
  right: calc(5ch + 4px);
  border-radius: 100%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.content .content-right .music ul .music-selected {
  color: #2C3638;
}

.content .content-right .music .bar-music {
  width: 4px;
  height: 60%;
  background-color: #2C3638;
  display: block;
  position: absolute;
  bottom: 0;
  right: calc(5ch + 10px);
}

.content .content-right .music .player {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-right .music .player .progress-bar {
  width: 300px;
  height: 6px;
  background-color: #d9d9d99e;
  border-radius: 5px;
  margin-right: 20px;
}

.content .content-right .music .player .progress-bar .bar {
  width: 0%;
  height: 100%;
  background-color: #2C3638;
  border-radius: 5px;
}

.content .content-right .music .player .player img {
  display: block;
}

.content .artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .artists .artist {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin: 2%;
  background-color: #2C3638;
  padding: 20px;
  border-radius: 5px;
  color: #f0f0f0;
}

.content .artists .artist .name {
  color: #CC6467;
}

.content .artists .artist .pfp {
  padding-bottom: 30px;
}

.content .artists .artist .pfp img {
  margin: 0px auto;
  display: block;
  width: 150px;
  border-radius: 100%;
}

.content .artists .artist a {
  display: block;
  text-decoration: none;
  background: #CC6467;
  text-align: center;
  padding: 10px;
  color: #f0f0f0;
  text-transform: uppercase;
  margin-top: 20px;
}

.content .artists .artist a:hover {
  background: #962024;
}
/*# sourceMappingURL=master.css.map */