@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

$white: #FFFFFF;
$magenta: #371219;
$pink: #B80E32;
$black: #212121;
$black1: #0A0A0A;

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

nav{
    padding: 0 8%;
    display: flex;
    background-color: $magenta;
    align-items: center;
    color: $white;
    position: fixed;
    z-index: 99;
    width: 100%;
    ul{
        list-style-type: none;
        padding:0;
        display: flex;
        margin-left: auto;
        li{
            a{
                text-decoration: none;
                color: $white;
                display: block;
                padding: 26px;
                font-size: 12px;
                transition: background ease-in-out .3s;
            }
            &:hover{
                a{
                    background-color: $pink;
                }
            }
        }
    }
}
body{
}

.artist-single{
    min-height: 100vh;
    background: radial-gradient($black, $black1);
    padding-top: 10vh;
    color: $white;
}
.single-artists{
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient($black , $black1);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    .artists{
        display: flex;
        justify-content: center;
        align-items: center;
        .artist{
            margin: 45px;
            border: 5px solid $white;
            color: $white;
            
            .image{
                padding: 14px;
                transform: translate(38px, -38px);
                img{
                    display: block;
                    width: 286px;
                    height: 286px;
                }
            }
            .inner-artist{
                padding: 14px;
                padding-top: 0;
                .followers{
                    font-size: 20px;
                    color: #FF7794;
                    font-weight: 400;
                    padding-bottom: 20px;
                }
            }
            a{
                display: block;
                width: 100%;
                border: 5px solid $white;
                text-align: center;
                text-decoration: none;
                color: $white;
                font-weight: 600;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.content{
    background: radial-gradient($black, $black1);
    .top-right{
        position: absolute;
        top: 20%;
        right: 10%;
        z-index: 2;
        ul{
            list-style-type: none;
            padding: 0;
            border-right: 3px solid $pink;
            padding: 20px;
            text-align: right;
            li{
                margin: 20px;
                color: #7B7B7B;
                font-family: "Nunito";
                cursor: pointer;
                &.selected{
                    color: $pink;
                    font-weight: 700;
                    font-size: 1.5em;
                }
            }
        }
    }
    #hero{
        height: 120vh;
        background: radial-gradient($black , $black1);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: -2;
        
        
        img{
            display: block;
            position: absolute;
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;

        }
        .player{
            position: absolute;
            bottom: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            left:10%;
            z-index: 999999;
            color: $white;
            .play{
                img{
                    position: relative;
                    bottom: auto;
                    left: auto;
                    transform: translate(0);
                }
            }
            .time-start{
                font-size: .75em;
            }
            .time-finish{
                font-size: .75em;
                padding-right: 15px;
            }
            .progress-bar{
                width: 300px;
                height: 6px;
                background-color: $black1;
                border-radius: 5px;
                margin-right: 20px;
                .bar{
                    width: 0%;
                    height: 100%;
                    background-color: $pink;
                    border-radius: 5px;
                }
            }
            
        }
        .hero-center{
            z-index: 3;
            margin-left: 18%;
            margin-top: -20vh;
            h1{
                width: 9ch;
                font-size: 107px;
                color: $white;

            }
            p{
                font-size: 26px;
                font-weight: 700;
                color: $white;
            }
            
        }
    }
    .popular-artists{
        position: relative;
        min-height: 100vh;
        z-index: 1;
        min-height: 141.5vh;
        background-size: cover;
        padding-top: 20vh;
        top:calc(-25vh - 40px);
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            text-align: right;
            padding: 0 10%;
            color: $white;
            transform: rotate(-4deg)translate(-50%,-100%);
            top:0;
            position: absolute;
            top:10%;
            width: 90%;
            left:50%;
            &::before{
                content:'';
                width: 100%;
                height: 2px;
                background-color: white;
                position: absolute;
                left:0;
                top:50%;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::after{
                content:'';
                width: 30ch;
                height: 20px;
                background-color: #B80E32;
                border-style: none;
                box-shadow: none;
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                z-index: -1;
                right: 6%;
            }
        }
        .button{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                display: block;
                width: 282px;
                border: 5px solid $white;
                text-align: center;
                text-decoration: none;
                color: $white;
                font-weight: 600;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .artists{
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-20vh);
            .artist{
                margin: 45px;
                border: 5px solid $white;
                color: $white;
                
                .image{
                    padding: 14px;
                    background-color: $pink;
                    transform: translate(38px, -38px);
                    img{
                        display: block;
                        width: 286px;
                        height: 286px;
                    }
                }
                .inner-artist{
                    padding: 14px;
                    padding-top: 0;
                    .followers{
                        font-size: 20px;
                        color: #FF7794;
                        font-weight: 400;
                        padding-bottom: 20px;
                    }
                }
                a{
                    display: block;
                    width: 100%;
                    border: 5px solid $white;
                    text-align: center;
                    text-decoration: none;
                    color: $white;
                    font-weight: 600;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }
    .popular-songs{
        display: flex;
        flex-wrap: wrap;
        transform: translateY(-50vh);
        background: radial-gradient($black , $black1);
        min-height: 100vh;
        padding-bottom: 20vh;
        h1{
            position: relative;
            width: 100%;
            padding-top: 30vh;
            ul{
                text-align: right;
                list-style-type: none;
                padding: 0 10%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                transform: rotate(-4deg)translateY(-25%);
                li{
                    text-align: right;
                    a{
                        display: block;
                        padding: 20px;
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
            &::before{
                content:'';
                width: 90%;
                height: 2px;
                background-color: white;
                position: absolute;
                left:50%;
                top:85%;
                transform: translate(-50% , -50%)rotate(-4deg);
                z-index: -1;
            }
            &::after{
                content:'';
                width: 40ch;
                height: 20px;
                background: linear-gradient(235deg,$black1, $black);
                border-style: none;
                box-shadow: none;
                position: absolute;
                top:80%;
                transform: translate(-25%, -100%)rotate(-4deg);
                background-size: 150%;
                background-position: 20% 90%;
                z-index: -1;
                right: 1%;
            }
        }
        .songs{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            .song{
                margin: 45px;
                border: 5px solid $white;
                color: $white;
                
                .image{
                    padding: 14px;
                    transform: translate(38px, -38px);
                    img{
                        display: block;
                        width: 286px;
                        height: 286px;
                    }
                }
                .inner-artist{
                    padding: 14px;
                    padding-top: 0;
                    .followers{
                        font-size: 20px;
                        color: #FF7794;
                        font-weight: 400;
                        padding-bottom: 20px;
                    }
                }
                a{
                    display: block;
                    width: 100%;
                    border: 5px solid $white;
                    text-align: center;
                    text-decoration: none;
                    color: $white;
                    font-weight: 600;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

footer{
    z-index: 999;
    background-color: $pink;
    padding: 10% 10%;
    width: 100%;
    // &::before{
    //     content: '';
    //     width: 105%;
    //     height: 30%;
    //     transform: rotate(-4deg);
    //     position: absolute;
    //     top: -100px;
    //     left: -10px;
    //     background-color: $pink;
    // }
    .row{
        display: flex;
        .col-4{
            flex-basis: calc(100% / 3);
        }
    }
}