@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

nav {
  padding: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #371219;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  position: fixed;
  z-index: 99;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding: 26px;
  font-size: 12px;
  -webkit-transition: background ease-in-out .3s;
  transition: background ease-in-out .3s;
}

nav ul li:hover a {
  background-color: #B80E32;
}

.artist-single {
  min-height: 150vh;
  background: radial-gradient(#212121, #0A0A0A);
  padding-top: 10vh;
  color: #FFFFFF;
}

.single-artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: radial-gradient(#212121, #0A0A0A);
  min-height: 150vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-artists .artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
}

.single-artists .artists .artist {
  margin: 45px;
  border: 5px solid #FFFFFF;
  color: #FFFFFF;
}

.single-artists .artists .artist .image {
  padding: 14px;
  -webkit-transform: translate(38px, -38px);
          transform: translate(38px, -38px);
}

.single-artists .artists .artist .image img {
  display: block;
  width: 286px;
  height: 286px;
}

.single-artists .artists .artist .inner-artist {
  padding: 14px;
  padding-top: 0;
}

.single-artists .artists .artist .inner-artist .followers {
  font-size: 20px;
  color: #FF7794;
  font-weight: 400;
  padding-bottom: 20px;
}

.single-artists .artists .artist a {
  display: block;
  width: 100%;
  border: 5px solid #FFFFFF;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  background: radial-gradient(#212121, #0A0A0A);
}

.content .top-right {
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 2;
}

.content .top-right ul {
  list-style-type: none;
  padding: 0;
  border-right: 3px solid #B80E32;
  padding: 20px;
  text-align: right;
}

.content .top-right ul li {
  margin: 20px;
  color: #7B7B7B;
  font-family: "Nunito";
  cursor: pointer;
}

.content .top-right ul li.selected {
  color: #B80E32;
  font-weight: 700;
  font-size: 1.5em;
}

.content #hero {
  height: 120vh;
  background: radial-gradient(#212121, #0A0A0A);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: -2;
}

.content #hero img {
  display: block;
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.content #hero .player {
  position: absolute;
  bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 10%;
  z-index: 999999;
  color: #FFFFFF;
}

.content #hero .player .play img {
  position: relative;
  bottom: auto;
  left: auto;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.content #hero .player .time-start {
  font-size: .75em;
}

.content #hero .player .time-finish {
  font-size: .75em;
  padding-right: 15px;
}

.content #hero .player .progress-bar {
  width: 300px;
  height: 6px;
  background-color: #0A0A0A;
  border-radius: 5px;
  margin-right: 20px;
}

.content #hero .player .progress-bar .bar {
  width: 0%;
  height: 100%;
  background-color: #B80E32;
  border-radius: 5px;
}

.content #hero .hero-center {
  z-index: 3;
  margin-left: 18%;
  margin-top: -20vh;
}

.content #hero .hero-center h1 {
  width: 9ch;
  font-size: 107px;
  color: #FFFFFF;
}

.content #hero .hero-center p {
  font-size: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.content .popular-artists {
  position: relative;
  min-height: 100vh;
  z-index: 1;
  min-height: 141.5vh;
  background-size: cover;
  padding-top: 20vh;
  top: calc(-25vh - 40px);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .popular-artists h1 {
  text-align: right;
  padding: 0 10%;
  color: #FFFFFF;
  -webkit-transform: rotate(-4deg) translate(-50%, -100%);
          transform: rotate(-4deg) translate(-50%, -100%);
  top: 0;
  position: absolute;
  top: 10%;
  width: 90%;
  left: 50%;
}

.content .popular-artists h1::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.content .popular-artists h1::after {
  content: '';
  width: 30ch;
  height: 20px;
  background-color: #B80E32;
  border-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  right: 6%;
}

.content .popular-artists .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .popular-artists .button a {
  display: block;
  width: 282px;
  border: 5px solid #FFFFFF;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .popular-artists .artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
}

.content .popular-artists .artists .artist {
  margin: 45px;
  border: 5px solid #FFFFFF;
  color: #FFFFFF;
}

.content .popular-artists .artists .artist .image {
  padding: 14px;
  background-color: #B80E32;
  -webkit-transform: translate(38px, -38px);
          transform: translate(38px, -38px);
}

.content .popular-artists .artists .artist .image img {
  display: block;
  width: 286px;
  height: 286px;
}

.content .popular-artists .artists .artist .inner-artist {
  padding: 14px;
  padding-top: 0;
}

.content .popular-artists .artists .artist .inner-artist .followers {
  font-size: 20px;
  color: #FF7794;
  font-weight: 400;
  padding-bottom: 20px;
}

.content .popular-artists .artists .artist a {
  display: block;
  width: 100%;
  border: 5px solid #FFFFFF;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .popular-songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-50vh);
          transform: translateY(-50vh);
  background: radial-gradient(#212121, #0A0A0A);
  min-height: 100vh;
  padding-bottom: 20vh;
}

.content .popular-songs h1 {
  position: relative;
  width: 100%;
  padding-top: 30vh;
}

.content .popular-songs h1 ul {
  text-align: right;
  list-style-type: none;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: rotate(-4deg) translateY(-25%);
          transform: rotate(-4deg) translateY(-25%);
}

.content .popular-songs h1 ul li {
  text-align: right;
}

.content .popular-songs h1 ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

.content .popular-songs h1::before {
  content: '';
  width: 90%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 85%;
  -webkit-transform: translate(-50%, -50%) rotate(-4deg);
          transform: translate(-50%, -50%) rotate(-4deg);
  z-index: -1;
}

.content .popular-songs h1::after {
  content: '';
  width: 40ch;
  height: 20px;
  background: linear-gradient(235deg, #0A0A0A, #212121);
  border-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 80%;
  -webkit-transform: translate(-25%, -100%) rotate(-4deg);
          transform: translate(-25%, -100%) rotate(-4deg);
  background-size: 150%;
  background-position: 20% 90%;
  z-index: -1;
  right: 1%;
}

.content .popular-songs .songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .popular-songs .songs .song {
  margin: 45px;
  border: 5px solid #FFFFFF;
  color: #FFFFFF;
}

.content .popular-songs .songs .song .image {
  padding: 14px;
  -webkit-transform: translate(38px, -38px);
          transform: translate(38px, -38px);
}

.content .popular-songs .songs .song .image img {
  display: block;
  width: 286px;
  height: 286px;
}

.content .popular-songs .songs .song .inner-artist {
  padding: 14px;
  padding-top: 0;
}

.content .popular-songs .songs .song .inner-artist .followers {
  font-size: 20px;
  color: #FF7794;
  font-weight: 400;
  padding-bottom: 20px;
}

.content .popular-songs .songs .song a {
  display: block;
  width: 100%;
  border: 5px solid #FFFFFF;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  z-index: 999;
  background-color: #B80E32;
  padding: 10% 10%;
  width: 100%;
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .row .col-4 {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}
/*# sourceMappingURL=master.css.map */